body {
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 10vh;
    margin-left: 40%;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
    border: 2px solid grey;
    border-radius: 8px;
    height: 300px;
    width: 250px;
    box-shadow: 10px 10px 8px #888888;
}

input {
    height: 30px;
    text-align: center;
    border-radius: 8px;
    border: 2px solid grey;
}

button {
    height: 30px;
    width: 250px;
}

.btn {
    background-color: rgb(203, 172, 20);
    border-radius: 5px;
}